body{
    background-color: aqua;
    color: blue;
}
#reg{
max-width: 300px;
margin: 0 auto;
border: 1px blue solid;
padding: 20px;
border-radius: 20px;
}
.form-item{
    background-color: darkblue;
    border: white solid 1px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.form-btn{
    background-color: aquamarine;
    border-radius: 1px;
    padding: 3px;
    border: 2px solid darkcyan;
    margin-top: 5px;
}
.form-btn:hover{
    border: 4px solid;
}
